extends ../layout

block content
	.container
		.col-md-7
			h2.text-primary=person.name
			h5
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{person.description}
			hr
			h5
				span.text-muted 出&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;生&nbsp;&nbsp;&nbsp;&nbsp;
				span=person.birth
			h5
				span.text-muted 国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;籍&nbsp;&nbsp;&nbsp;&nbsp;
				span=person.country
			h5
				span.text-muted 人物信息&nbsp;&nbsp;&nbsp;
				span=person.other
		.col-md-5
			a
				img.img-rounded(src="#{person.imgUrl}", alt="#{person.name}")

		
		